nav {
  text-align: center;
  background-color: white;
  border: 10px ridge wheat;
}

.frontpage ol {
  list-style-type: none;
  padding-left: 0;
}

.links {
  display: inline-block;
}

.links a::after {
  display: inline-block;
  color: #000;
  content: ' ';
  align-content: center;
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

h1 {
  color:#002418;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color:#002418;
}

h3 {
  color: #002418;
}

body {
    background-color:#ACBEA3;
}

.all-header {
  color: #002418;
}