header {
  text-align: center;
  background-color: white;
  border: 5px dotted wheat;
}

.navigation ol {
  list-style-type: none;
  padding-left: 0;
  display: inline-flex;
}

.links {
  display: inline-block;
}

.links a::after {
  display: inline-block;
  color: #000;
  content: ' ';
  align-content: center;
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

header > h1 {
  color:#002418;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color:#002418;
}

h3 {
  color: #002418;
}

body {
    background-color:#ACBEA3;
}

.all-header {
  color: #002418;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  align-content: stretch;
}
.one {
  grid-column: 1/3;
  grid-row: 1;
}
.two {
  grid-column: 3;
  grid-row: 1;
}
.three {
  grid-column: 1/3;
  grid-row: 2;
}

footer {
  text-align: center;
  background-color: white;
  border: 5px dotted wheat;
}

.first, .second, .third {
  border-bottom: 3px solid black;
  padding: 10px
}

@media only screen and (min-width: 600px) {
  .first, .second, .third {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    align-content: stretch;
  }
  
  .first > p:last-child {
    grid-column: 2/2;
    grid-row: 1;
  }
  
  .first + p {
    grid-column: 1/2;
    grid-row: 2;
  }

  .second > p:last-child {
    grid-column: 2/2;
    grid-row: 1;
  }
  
  .second + p {
    grid-column: 1/2;
    grid-row: 2;
  }
  
  .third > p:last-child {
    grid-column: 2/2;
    grid-row: 1;
  }
  
  .third + p {
    grid-column: 1/2;
    grid-row: 2;
  }
}